<!-- <div class="row">
  <h4>Register:</h4>
</div>
<div *ngIf="firsttimetopage" >
    <form (submit)="RegisterForm()" method="POST">

        


              <p *ngIf="errorL">{{data}}</p>
              <H3>Register</H3>
              <p>First Name: </p><input type="text" name="newUser.f_name" [(ngModel)]="newUser.f_name">
             <p>Last Name:</p>
              <input type="text" name="newUser.l_name" [(ngModel)]="newUser.l_name">
              <p> Email:</p>
              <input type="email" name="newUser.email" [(ngModel)]="newUser.email">
              <p> Address:</p>
              <input type="text" name="newUser.address" [(ngModel)]="newUser.address">
              <p> Password:</p>
              <input type="text" name="newUser.password" [(ngModel)]="newUser.password">

              <input type="submit" value="Register Now">

    </form>
</div>
<button onclick="Turnon()">Turn on</button>
<div *ngIf="ImaUser">
  <form (submit)="LoginForm(id)" method="POST">
    <h3>Login:</h3>
    <input type="text" name="newUser.email" [(ngModel)]="newUser.email">
    <input type="text" name="newUser.password" [(ngModel)]="newUser.password">
  </form> -->
