<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="titlaDiv">
    <h1>{{ title }}</h1>
    <button class="login">Log In</button>
</div>

<div class="topnav" id="myTopnav">
  
  <button *ngIf="(current == 'home'); else homeBlock" (click)="home()" class="active">Home</button>
  <ng-template #homeBlock><button (click)="home()">Home</button></ng-template>
  <button *ngIf="current == 'order'; else orderBlock" (click)="order()" class="active">Order Online</button>
  <ng-template #orderBlock><button (click)="order()">Order Online</button></ng-template>
  <button *ngIf="current == 'location'; else locationBlock" (click)="location()" class="active">Locations</button>
  <ng-template #locationBlock><button (click)="location()">Locations</button></ng-template>
  <button *ngIf="current == 'contact'; else contactBlock" (click)="contact()" class="active">Contact Us</button>
  <ng-template #contactBlock><button (click)="contact()">Contact Us</button></ng-template>

</div>


<router-outlet></router-outlet>
