<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
  </div>
s
<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="www.youtube.com">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>



<router-outlet></router-outlet>
